/* .button {
    border: none;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
} */

#page-container {
    display: grid;
    grid-template-columns: 10fr 1fr 10fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "input button output";
    height: max-content;
}

#text-box-wrapper {
    grid-area: input;
    margin: 10px;
}

#display {
    grid-area: output;
    border-style: ridge;
    margin: 25px 10px 10px 10px;
    height: 100%;
}

#submit-button {
    grid-area: button;
    margin-top: 20px;
}

#display-result {
    overflow-wrap: break-word;
}


/* Header CSS */
#page-header
{
    position: relative;
    z-index: 3;
    display: flex;
    height: 55px;
    width: 100vw;
    background: white;
    box-shadow: 0 3px 6px rgba(14, 11, 11, 0.16), 0 3px 6px rgba(0,0,0,0.23);
}


#page-header a {
    color: black;
    text-decoration: none;
}

#page-header .header-links
{
    display: flex;
    position: absolute;
    left: 0vw;
    background-color: white;
}

#page-header button {
    border: none;
    background: inherit;
    height: 55px;
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.navBtn {
    overflow: clip;
    float: left;
    text-align: center;
    overflow: inherit;
}

@media only screen and (max-width: 1400px){
    #page-header button {
        font-size: 18px;
        margin-left: 15px;
    }
}
@media only screen and (max-width: 1100px) {
    #page-header button {
        font-size: 1.8vw;
        margin-left: 0px;
    }
}
@media only screen and (max-width: 700px) {
    #page-header button{
        font-size: 12px;
    }
}

#page-header .header-links a:hover i {
    transition: all 0.2s ease-in-out;
    color: black;
}

#page-header button:nth-child(1) i
{
    color: rgb(255, 140, 0);
}

#page-header button:nth-child(2) i
{
    color: rgb(255, 153, 204)
}

#page-header button:nth-child(3) i
{
    color: rgb(0, 204, 153)
}

#page-header button:nth-child(4) i
{
    color: rgb(255, 80, 80)
}

#page-header button:nth-child(5) i
{
    color: rgb(0, 0, 255)
}

#page-header button:nth-child(6) i
{
    color: rgb(200, 277, 255);
}

#page-header button:nth-child(7) i
{
    color: rgb(240,230,140);
}

#page-header button:nth-child(8) i
{
    color: rgb(200, 77, 255);
}

#page-header i {
    margin-top: 5px;
}