
#page-container {
    z-index: 1;
    width: calc(100vw - 200px);
    position: absolute;
    left: 200px;
    flex-direction: column;
    height: 80vh;
    background-color: rgb(226, 226, 226);
    padding-left: 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 4fr 1fr 4fr;
    grid-template-areas: 
    "title"
    "input"
    "button"
    "output";
}
.page-content-title {
    grid-area: title;
    text-align: center;
}

#text-box-wrapper {
    grid-area: input;
    margin: 10px;
    display: grid;
}

#display {
    grid-area: output;
    border-style: ridge;
    height: 100%;
}

#submit-button {
    grid-area: button;
    margin-top: 20px;
}

#display-result {
    overflow-wrap: break-word;
}


/* Header CSS */
#page-header
{
    position: relative;
    z-index: 3;
    display: flex;
    height: 55px;
    width: 100vw;
    background: white;
    box-shadow: 0 3px 6px rgba(14, 11, 11, 0.16), 0 3px 6px rgba(0,0,0,0.23);
}


#page-header a {
    color: black;
    text-decoration: none;
}

#page-header .header-links
{
    display: flex;
    position: absolute;
    left: 0vw;
    background-color: white;
}

#page-header button {
    border: none;
    background: inherit;
    height: 55px;
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.navBtn {
    overflow: clip;
    float: left;
    text-align: center;
    overflow: inherit;
}

@media only screen and (max-width: 1400px){
    #page-header button {
        font-size: 18px;
        margin-left: 15px;
    }
}
@media only screen and (max-width: 1100px) {
    #page-header button {
        font-size: 1.8vw;
        margin-left: 0px;
    }
}
@media only screen and (max-width: 700px) {
    #page-header button{
        font-size: 12px;
    }
}

#page-header .header-links a:hover i {
    transition: all 0.2s ease-in-out;
    color: black;
}

#page-header button:nth-child(1) i
{
    color: rgb(255, 140, 0);
}

#page-header button:nth-child(2) i
{
    color: rgb(255, 153, 204)
}

#page-header button:nth-child(3) i
{
    color: rgb(0, 204, 153)
}

#page-header button:nth-child(4) i
{
    color: rgb(255, 80, 80)
}

#page-header button:nth-child(5) i
{
    color: rgb(0, 0, 255)
}

#page-header button:nth-child(6) i
{
    color: rgb(200, 277, 255);
}

#page-header button:nth-child(7) i
{
    color: rgb(240,230,140);
}

#page-header button:nth-child(8) i
{
    color: rgb(200, 77, 255);
}

#page-header i {
    margin-top: 5px;
}

/* Side bar CSS */
#sidebar-wrapper {
    z-index: 3;
    position: fixed;
    text-align: justify;
    width: 200px;
    height: 100%;
    background: rgb(46, 62, 78);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#sidebar-wrapper p {
    margin-bottom: -1px;
    font-weight: 900;
    font-size: .8em;
    text-indent: 12px;
    font-family: 'Roboto', sans-serif;
    color: #949ba1;
}

.ssidebar-link-group {
    padding: 0;
    margin-top: .3em;
    margin-bottom: .5em;
    list-style: none;
    position: relative;
  }
.sidebar-link-group li {
    font-family: 'Roboto', sans-serif;
    font-size: .9em;
    text-indent: 12px;
    line-height: 40px;
    font-weight: 900;
}
.sidebar-link-group li a {
    color: #949ba1;
    display: block;
    text-decoration: none;
}
.sidebar-link-group li a:hover {
    background: #056430;
    color: white;
}
.sidebar-link-group li a:active {
    background: #056430;
    color: white;
}
.sidebar-link-group i {
    padding-right: 20px;
}